{
  "root": true,
  "ignorePatterns": "*.js",
  "extends": [
    "airbnb-typescript/base"
  ],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "eol-last": "off",
    "spaced-comment": "off",
    "linebreak-style": "off",
    "no-restricted-syntax":["error", "LabeledStatement", "WithStatement"],
    "no-console": "off",
    "import/prefer-default-export": "off"
  }
}